<h1>New dose</h1>

<%= simple_form_for(@dose) do |f| %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>

<hr>
<%= link_to new_cocktail_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
